.vscode
**.pyc
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/Oil-Spill-Simulation.iml
.idea/vcs.xml
.idea/workspace.xml
.venv
logs
data/world_map/unzipped
data/processed_data
checkpoints